<div class="standard_container">
  <div id="topImg">
    <img src="../../../assets/images/Top Shapes/Standard.png">
  </div>
  <div id="overlayForm">
    <form [formGroup]="standardTopGroup" >
      <!--Ex Form -->
      <div id="row1">
        <div style="flex-grow:2;"></div>
        <input formControlName="lengthControl" [value]="model.length" style="width:70px;" id="length" type="text"
          name="length" placeholder="Length">

        <div class="error-box" *ngIf="fieldCheck('lengthControl')">
          <div *ngIf="requiredControl('lengthControl')">
            Length is required
          </div>
          <div *ngIf="patternedControl('lengthControl')">
            Please enter valid length (i.e. 54 or 123-15/16)
          </div>
        </div>

        <div style="flex-grow:3;"></div>
      </div>

      <div id="row2" style="height:40px;">
        <p></p>
      </div>

      <div id="row3">
        <select formControlName="lSideControl" style="align-self:baseline; width:80px; margin-left:5px;"
          (click)="selectLSide($event)" [value]="model.lSide">
          <option *ngFor="let lc of capOptions" [value]="lc">{{lc}}</option>
        </select>

        <div style="flex-grow:1;">
          <p></p>
        </div>

        <select formControlName="rSideControl" style="align-self:baseline; width:80px; margin-right:10px;"
          (click)="selectRSide($event)" [value]="model.rSide">
          <option *ngFor="let lc of capOptions" [value]="lc">{{lc}}</option>
        </select>

        <div style="width:80px">
          <p></p>
        </div>

      </div>

      <div id="row4">
        <p></p><br>
      </div>

      <div id="row5">
        <div style="flex-grow:1;"></div>

        <div class="error-box" *ngIf="fieldCheck('depthControl')">
          <div *ngIf="requiredControl('depthControl')">
            Depth is required
          </div>
          <div *ngIf="patternedControl('depthControl')">
            Please enter valid Measurement (i.e. 54 or 123-15/16)
          </div>
        </div>
        <input formControlName="depthControl" style="align-self:flex-end; width:70px; margin-right:5px;" type="text"
          placeholder="Depth" [value]="model.depth">
      </div>



      <div id="row6" style="height: 110px;">
        <p></p><br><br><br><br>
        <div class="error-box" *ngIf="fieldCheck('sinkMeasureControl') && sinkShow">
          <div *ngIf="requiredControl('sinkMeasureControl')">
            Sink Measurement is required
          </div>
          <div *ngIf="patternedControl('sinkMeasureControl')">
            Please enter valid depth (i.e. 54 or 123-15/16)
          </div>
        </div>
      </div>

      <div id="row7" style="height: 10px ">
        <div>
          <p></p>
        </div>
      </div>

      <div id="row8">
        <div style="flex-grow:1;">
          <p></p>
        </div>

        <select formControlName="sinkTypeControl" (change)="selectSinkType($event)"
          style=" width:140px; margin: 0 3px;">
          <option *ngFor="let sink of sinkType" [value]="sink.id">{{sink.sink_type}}</option>
        </select>

        <input *ngIf=sinkShow formControlName="sinkMeasureControl" style=" width:120px; margin: 0 3px;height:22px" type="text"
          placeholder="Sink Measurement" [value]="model.sinkMeasurement">

        <select *ngIf=sinkShow formControlName="sinkSideControl" style=" width:100px; margin: 0 3px;"
          (click)="selectSinkSide($event)">
          <option *ngFor="let sinkS of sinkSide" [value]="sinkS">{{sinkS}}</option>
        </select>


        <div style="flex-grow:3;">
          <p></p>
        </div>
      </div>

      <div id="row8">
        <div style="flex-grow:1;">
          <p></p>
        </div>

        <div style="flex-grow:4;">
          <p></p>
        </div>
      </div>

    </form>
    <!--Ex Form -->

  </div>
</div>
<div id="submitButton">
  <button class="button1" (click)="onSubmit()" #submitButton>Save</button>
</div>