<div class="container">
            <form [formGroup]="shoppingCartForm" (ngSubmit)="onSubmit()">
                
                
            <div *ngFor="let top of topPhoto; let i = index">
                <div class="topContainer" [ngClass]="{'bottomTopContainer' :i == topPhoto.length-1}">
                    <div class="topImgContainer" style="width: 66%; ">
                        <h3>{{top.type}}</h3>
                        <img  src="../../assets/images/Top Shapes/{{top.file}}.png">
                    </div>
                    <div style="flex-grow:1; display:flex; flex-direction: row; align-items: center;">
                        <p>Qty: &nbsp;</p> {{top.quantity}}<select formControlName = "quant{{i}}"  [(ngModel)]="top.quantity">
                            <!--[(ngModel)]="topOrder.quantity"-->
                            <option *ngFor="let num of numbers" [value] = "num">{{num}}</option>

                        </select>
                    </div>
                </div>
            </div>
            <div style="display:flex; justify-content: center;">
                <button name="submit"  id="button1" type="submit">Submit</button>
            </div>
        </form>
    </div>